<!doctype html>
<html dir="ltr" lang="en" prefix="og: https://ogp.me/ns#>
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" href="/stylesheets/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/all.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/mobile.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/print.css" type="text/css"/>

    <title>{{title}}</title>
    <meta property="og:title" content="{{title}}">

    {{#description}}
    <meta name="description" content="{{description}}">
    <meta property="og:description" content="{{description}}">
    {{/description}}
    {{#canonical}}
    <link rel="canonical" href="{{{canonical}}}">
    <meta property="og:url" content="{{{canonical}}}">
    {{/canonical}}
    {{#image}}
    <link rel="icon" href="{{{url}}}" type="{{{type}}}"/>
    <link rel="apple-touch-icon" href="{{{url}}}" type="{{{type}}}"/>
    <meta property="og:image" content="{{{url}}}">
    <meta property="og:image:alt" content="{{alt}}">
    {{/image}}
    {{^image}}
    <link rel="apple-touch-icon" href="https://josephholsten.com/images/identity.png" type="image/png"/>
    <link rel="icon" href="https://josephholsten.com/images/identity.png" type="image/png"/>
    <meta property="og:image" content="https://josephholsten.com/images/identity.png">
    <meta property="og:image:alt" content="Joseph Holsten's head, or at least an upper corner of it">
    {{/image}}
    {{#pavatar}}
    <link rel="pavatar" href="{{{url}}}" type="{{{type}}}"/>
    {{/pavatar}}


    {{> plausible-prime}}
  </head>

  <body class="{{{ page_classes }}}">
<div class="page">
    {{{ content }}}
</div>
  </body>
</html>
