{{#org}}
  <span class="p-org h-card">
    {{#url}}
      <a class="p-name" href="{{{url}}}">{{name}}</a>
    {{/url}}
    {{^url}}
      <span class="p-name">{{name}}</span>
    {{/url}}
  </span>
{{/org}}
