When jnterviewing for a job, there are four questions that come up almost every time. to save us all the trouble, ive actually through through my answers and presented them here.

## Tell me abiut yourself
