---
title: Resume
---
<div class="h-resume">
  <header class="h-card">
    <div style="display:inline-block">
      <h1 class="p-name"><a class="u-uid u-url" rel="me" href="http://josephholsten.com/">
          <span class="p-given-name">Joseph Anthony Pasquale</span>
          <span class="p-family-name">Holsten</span>
        </a></h1>
        <ul>
          <li><i class="fa fa-envelope"></i>&nbsp;mailto:<a class="u-email" href="mailto:joseph@josephholsten.com">joseph@josephholsten.com</a></li>
          <li><i class="fa fa-phone"></i>&nbsp;tel:<a class="p-tel" href="tel:+1-360-927-7234">+1-360-927-7234</a></li>
        </ul>
        <ul class="p-adr">
          <li><i class="fa fa-map-marker"></i>&nbsp;<span class="p-street-address">2437 Undine St</span>. <span class="p-locality">Bellingham</span>, <span class="p-region">WA</span> <span class="p-postal-code">98229-3732</span> <span class="p-country">US</span></li>
          <li><i class="fa fa-crosshairs"></i>&nbsp;<span class="h-geo">
              <data class="p-latitude" value="48.762143">N 48° 45′ 43.7″</data>
              <data class="p-longitude" value="-122.448799">W 122° 26′ 55.7″</data>
            </span></li>
        </ul>
    </div>
    <section id="pdf-download">
      <a href="files/resume.pdf" title="Download in PDF format"><img src="/images/pdficon_large.gif" alt="Download in PDF format" width="32" height="32" style></a>
    </section>
  </header>


  <section>
    <h2>Skills</h2>
    <ul id="skills" class="simple">

      <li>
        <h3>Programming Languages</h3>
        Significant experience with
        Ruby,
        Portable Bourne Shell &amp;
        Go,
        JavaScript.
        Some experience with
        <span class="caps">C</span>,
        Python,
        <span class="caps">SQL</span> &amp;
        Java.
        Merely dangerous in
        Scheme,
        Haskell &amp;
        Erlang.
      </li>

      <li>
        <h3>Operations</h3>
        Significant experience with
        Continuous Delivery (Jenkins, Rundeck, Travis),
        Containers (Docker, Illumos Zones),
        Service Discovery (Consul, custom),
        Configuration Management (Chef, Puppet, Ansible),
        Network Monitoring (Sensu, Nagios, Server Density),
        Metric Timeseries (Graphite, Librato),
        Log Management (Logstash, RSyslog, Papertrail),
        <span class="caps">HTTP</span> Servers (Apache, Nginx) &amp;
        Queue Brokers (RabbitMQ, Kafka, Redis).
        Some experience with
        Firewalls (IPFilter, <span class="caps">IPF</span>),
        Relational Databases (<span class="caps">PostgreSQL</span>, <span class="caps">MySQL</span>, <span class="caps">SQL</span> Server).
        Merely dangerous with
        Hadoop,
        Cassandra,
        <span class="caps">LDAP</span>,
        <span class="caps">VPN</span>,
        Intrusion Detection &amp;
        Single Sign On.
      </li>

      <li>
        <h3>Web technologies</h3>
        Significant experience with
        <span class="caps">HTTP</span>,
        <span class="caps">REST</span>,
        <span class="caps">HTML</span>,
        <span class="caps">DOM</span> &amp;
        <span class="caps">XML</span>.
        Some experience with
        <span class="caps">CSS</span> &amp;
        <span class="caps">SAX</span>.
        Merely dangerous with
        <span class="caps">RDF</span>,
        <span class="caps">SOAP</span> &amp;
        <span class="caps">WSDL</span>.
      </li>

      <li>
        <h3>Operating Systems</h3>
        Significant experience with
        <span class="caps">UNIX</span> (Debian, <span class="caps">RHEL</span>, <span class="caps">OS X</span>, Illumos).
        Some experience with
        Windows (Server 2012 R2).
        Want excuses to play with
        Plan 9 &amp;
        <span class="caps">IBM</span> i (née <span class="caps">AS/400</span>).
      </li>

      <li>
        <h3>Software engineering</h3>
        Significant experience with
        model-view-controller,
        test driven development,
        continuous delivery &amp;
        queueing.
        Some experience with
        evented concurrency,
        key-value databases &amp;
        document databases.
      </li>

    </ul>
  </section>
  <section>
    <h2>Experience</h2>
    <ul id="jobs">

      <!-- Job template
        <li class="p-experience h-event h-card">
        <h3>
        <span class="p-job-title">…</span>,
        <span class="p-org">…</span>
        <span class="p-location">…</span>
        <span class="dates"><time class="dt-start" datetime="…">…</time> &ndash; <time class="dt-end" datetime="…">…</time></span>
        </h3>
        <p class="p-description">…</p>
        <ul class="p-description">
        <li>…</li>
        </ul>
        </li>
      -->
      <li class="p-experience h-event h-card">
        <h3>
          <span class="p-job-title">Software Engineer</span>,
          <span class="p-org"><a href="http://lovable.tech/">Lovable Technology</a></span>
          <!-- <span class="p-location">Remote</span> -->
          <span class="dates"><time class="dt-start" datetime="2017-03-14">2017-03</time> &ndash; Present</span>
        </h3>
        <ul class="p-description">
          <li>Contracted with Oracle to implement a Go SDK and <a href="https://github.com/oracle/terraform-provider-baremetal">Terraform Provider for Oracle Bare Metal Cloud</a>.</li>
        </ul>
      </li>

      <li class="p-experience h-event h-card">
        <h3>
          <span class="p-job-title">Infrastructure Engineer</span>,
          <span class="p-org"><a href="http://ensighten.com/">Ensighten</a></span>
          <!-- <span class="p-location">Remote</span> -->
          <span class="dates"><time class="dt-start" datetime="2014-11-01">2014-11</time> &ndash; <time class="dt-end" datetime="2017-03-07">2017-03</time></span>
        </h3>
        <ul class="p-description">
          <li>Infrastructure buildout, maintenance, &amp; automation: Collaborated with infrastructure and product engineers to maintain ~1300 servers using <a href="https://www.terraform.io/">Terraform</a> for provisioning, <a href="https://puppet.com/">Puppet</a> for platform config &amp; <a href="https://www.ansible.com/">Ansible</a> for deployment. Servers were spread across 14 datacenters/regions, from 3 cloud providers and 1 non-cloud provider.</li>
          <li>Monitoring: Built server monitoring service to support cross-region availability and autoscaling clusters using <a href="https://sensuapp.org/">Sensu</a> &amp; <a href="http://graphiteapp.org/">Graphite</a>.</li>
          <li>Secondary DNS for Geo-Targeted Services: Converted ~2000 records for 12 datacenters from manual configuration in UltraDNS to configuration-as-code with support for both UltraDNS &amp; NS1. Implemented the <a href="https://github.com/terraform-providers/terraform-provider-ultradns">UltraDNS</a> &amp; <a href="https://github.com/terraform-providers/terraform-provider-ns1">NS1</a> providers for Terraform, and a Nagios-compatible monitoring plugin to check for divergence.</li>
          <li>Tooling development: Implemented &amp; maintained UltraDNS and NS1 Terraform providers in Go (now included the offical release), Nagios/Sensu plugins in Ruby, and assorted work in Python, Java, Node.js, Groovy &amp; PHP.
        </ul>
      </li>
      <li class="p-experience h-event h-card">
        <h3>
          <span class="p-job-title">Infrastructure Engineer</span>,
          <span class="p-org"><a href="http://simplymeasured.com/">Simply Measured</a></span>
          <!-- <span class="p-location">Seattle, WA</span> -->
          <span class="dates"><time class="dt-start" datetime="2012-02-21">2012-02</time> &ndash; <time class="dt-end" datetime="2014-08-04">2014-08</time></span>
        </h3>
        <ul class="p-description">
          <li>Infrastructure buildout, maintenance, &amp; automation: Designed, built and maintained systems to run internal applications and support services. Maintained ~500 servers and ~50 internal applications, averaging a 150 server-to-admin ratio.</li>
          <li>Metrics &amp; reporting: Provided services for measuring and reporting performance and usage of internal applications.</li>
          <li>Education: developed, maintained and trained in procedures for using infrastructure and internal support services. Developed ~100 standard operating procedures and supported ~45 engineers.</li>
          <li>Emergency response: developed and maintained on-call processes for engineering teams to respond to their respective application and infrastructure failures.</li>
        </ul>
      </li>

      <li class="p-experience h-event h-card">
        <h3>
          <span class="p-job-title">Founder, Operations Engineer</span>,
          <span class="p-org">Bitp.it</span>
          <!-- <span class="p-location">Tulsa, OK</span> -->
          <span class="dates"><time class="dt-start" datetime="2011-02-10">2011-02</time> &ndash; <time class="dt-end" datetime="2011-08-01">2011-08</time></span>
        </h3>
        <ul class="p-description">
          <li>Developed, implemented fully automated deployments using <a href="http://git-scm.com/">Git</a>, <a href="http://wiki.opscode.com/display/chef">Chef</a></li>
          <li>Ran a node.js service on a single no.de server handling over 400 requests per second</li>
          <li>Ran a bitcoin mining pool at 100 GHash per second</li>
        </ul>
      </li>

      <li class="p-experience h-event h-card next-page">
        <h3><span class="p-job-title">Senior Engineer</span>,
          <span class="p-org"><a href="http://waterfieldtechnologies.com/">Waterfield Technologies, Inc</a></span>
          <!-- <span class="p-location">Tulsa, OK</span> -->
          <span class="dates"><time class="dt-start" datetime="2007-04-27">2007-04</time> &ndash; <time class="dt-end" datetime="2011-09-09">2011-09</time></span>
        </h3>
        <ul class="p-description">
          <li>Developed, implemented fully automated deployment strategies using <a href="http://www.vmware.com/products/vsphere-hypervisor/overview.html">VMWare</a>, <a href="http://git-scm.com/">Git</a>, <a href="http://wiki.opscode.com/display/chef">Chef</a>, &amp; <a href="http://capify.org/">Capistrano</a></li>
          <li>Developed banking &amp; energy sites using SharePoint, <span class="caps">ASP.NET</span>, Ruby on Rails</li>
          <li>Automated testing, continuous integration site monitoring with <a href="http://cukes.info/">Cucumber</a>, <a href="http://rspec.info/">RSpec</a>, NUnit, <a href="http://cruisecontrolrb.thoughtworks.com/">CruiseControl</a></li>
          <li>Developed a content publishing service with <abbr title="Javascript Object Notation" class="caps">JSON</abbr>, <abbr title="Hypertext Markup Language" class="caps">HTML</abbr> &amp; <span class="caps">SOAP</span> interfaces</li>
        </ul>
      </li>

      <li class="p-experience h-event h-card">
        <h3><span class="p-job-title">Engineer</span>,
          <span class="p-org"><a href="http://mobicentric.com/">Mobicentric</a></span>
          <!-- <span class="p-location">Tulsa, OK</span> -->
          <span class="dates"><time class="dt-start" datetime="2009-10-12">2009-10</time> &ndash; <time class="dt-end" datetime="2010-08-31">2010-08</time></span>
        </h3>
        <ul class="p-description">
          <li>Developed a mobile real estate listing service for real estate agents</li>
          <li>Optimized a pure ruby API client to process ~6000 listings &amp; ~60000 images per day on a single Heroku worker, over 10x more throughput than the vendor's standard client.</li>
        </ul>
      </li>

      <li>
        <p>Further experience available upon request</p>
      </li>

    </ul>
  </section>

  <section>
    <h2>Open Source & Community Contributions</h2>
    <p>Most of my open source contributions are visible at <a href='https://github.com/josephholsten/'>GitHub</a>, notable contributions include:</p>
    <ul id="affiliations" class="simple">

      <!--
        <li class="p-affiliation h-event h-card">
        <h3>
        <span class="p-name"></span>,
        <span class="p-org"></span>
        <span class="dates"><time class="dt-start" datetime=""></time>&ndash<time class="dt-end" datetime=""></time></span>
        </h3>
        </li>
      -->

      <li class="p-affiliation h-event h-card">
        <span class="p-name">Founder</span>,
        <span class="p-org"><a href="http://github.com/sous-chefs">Sous Chefs</a></span>
        <span class="dates"><time class="dt-start" datetime="2015-05-10">2015</time> &ndash; Present</span>
      </li>

      <li class="p-affiliation h-event h-card">
        <span class="p-name">Contributor</span>,
        <span class="p-org">terraform</span>
        <span class="dates"><time class="dt-start" datetime="2014-11-25">2014</time> &ndash; Present</span>
        <span class="p-description">[<a href="https://github.com/terraform-providers/terraform-provider-ultradns">UltraDNS</a>, <a href="https://github.com/hashicorp/terraform/commits?author=josephholsten">core</a>]</span>
      </li>

      <li class="p-affiliation h-event h-card">
        <span class="p-name">Contributor</span>,
        <span class="p-org">glibc</span>
        <span class="dates"><time class="dt-start" datetime="2014-04-11">2014</time></span>
        <span class="p-description">[<a href="https://sourceware.org/git/?p=glibc.git;a=commitdiff;h=c12e9f37417240a086c5b9e2fb321f1db8e9547f;hp=439bda3209b768c349b98b8ceecf0fa8d94600e9">commitdiff</a>]</span>
      </li>

      <li class="p-affiliation h-event h-card">
        <span class="p-name">Contributor</span>,
        <span class="p-org">go</span>
        <span class="dates"><time class="dt-start" datetime="2013-07-13">2013</time></span>
        <span class="p-description">[<a href="https://code.google.com/p/go/source/detail?name=e8b145221231&r=e8b1452212313491cbfed60cf5601440cf85d0e0">commitdiff</a>]</span>
      </li>

      <li class="p-affiliation h-event h-card">
        <span class="p-name">Contributor</span>,
        <span class="p-org caps">OASIS</span>
        <span class="dates"><time class="dt-start" datetime="2008-11-01">2008</time> &ndash;  <time class="dt-start" datetime="2010-11-01">2010</time></span>
        <span class="p-description">[<a href="http://docs.oasis-open.org/xri/xrd/v1.0/xrd-1.0.html" class="caps">XRD</a>]</span>
      </li>

      <li class="p-affiliation h-event h-card">
        <span class="p-name">Contributor</span>,
        <span class="p-org caps">IETF</span>
        <span class="dates"><time class="dt-start" datetime="2009-01">2009</time></span>
        <span class="p-description">[<a href="http://tools.ietf.org/html/draft-hammer-discovery">Disco</a>, <a href="http://tools.ietf.org/html/draft-holsten-about-uri-scheme">About:</a>]</span>
      </li>

      <li class="p-affiliation h-event h-card">
        <span class="p-name">Contributor</span>,
        <span class="p-org">OAuth Extensions</span>
        <span class="dates"><time class="dt-start" datetime="2003">2008</time></span>
        <span class="p-description">[<a href="http://oauth.googlecode.com/svn/spec/ext/session/1.0/drafts/1/spec.html">Session</a>,
          <a href="http://oauth.googlecode.com/svn/spec/ext/language_preference/1.0/drafts/2/spec.html">Language</a>,
          <a href="http://wiki.oauth.net/ScalableOAuth">Scalable</a>]</span>
      </li>

      <li class="p-affiliation h-event h-card">
        <span class="p-name">Contributor</span>,
        <span class="p-org">Ruby on Rails</span>
        <span class="dates"><time class="dt-start" datetime="2008-11-01">2008</time></span>
        <span class="p-description">[<a href="http://github.com/rails/rails/commit/fea8d9d06ffaf85eb9e590ae3ac7cf082ad0c420">XmlMini</a>]</span>
      </li>

    </ul>
  </section>

  <section>
    <h2>Presentations</h2>
    <ul id="presentations" class="simple">

      <!--
        <li class="presentation h-event h-card">
        <span class="p-name"></span>
        <span class="p-org"></span>
        <span class="p-description">[<a href="">video</a>, <a href="">slides</a>]</span>
        <span class="dates"><time class="dt-start" datetime="2014">14</time></span>
        <iframe src="" width="660" height="371" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </li>
      -->

      <li class="presentation h-event h-card">
        <span class="p-name">Sous Chefs - Fostering Better Community Cookbooks</span>,
        <span class="p-org"><a href="https://chefconf.chef.io/2017/">Chef Conf</a></span>
        <span class="p-description">[<a href="https://youtu.be/k-g3mNO-eN8">video</a>]</span>
        <span class="dates"><time class="dt-start" datetime="2017-05-24">2017-05-24</time></span>
        <iframe src="https://www.youtube.com/embed/DYrCP_7_tCok-g3mNO-eN8" width="660" height="371" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </li>

      <li class="presentation h-event h-card">
        <span class="p-name"><a href="http://foodfightshow.org/2017/01/sous-chefs.html">Sous Chefs</a></span>,
        <span class="p-org"><a href="http://foodfightshow.org">Food Fight Show</a></span>
        <span class="p-description">[<a href="https://youtu.be/DYrCP_7_tCo">video</a>]</span>
        <span class="dates"><time class="dt-start" datetime="2017-01-06">2017-01-06</time></span>
        <iframe src="https://www.youtube.com/embed/DYrCP_7_tCo" width="660" height="371" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </li>

      <li class="presentation h-event h-card">
        <span class="p-name">Saturday Night Disco on Monday Morning</span>,
        <span class="p-org"><a href="http://devopsdays.org/events/2014-austin/">DevOpsDays Austin</a></span>
        <span class="p-description">[<a href="http://vimeo.com/97659271">video</a>, <a href="https://speakerdeck.com/josephholsten/saturday-night-disco-on-monday-morning">slides</a>]</span>
        <span class="dates"><time class="dt-start" datetime="2014-05-06">2014-05-06</time></span>
        <iframe src="http://player.vimeo.com/video/97659271" width="660" height="371" frameborder="0" allowfullscreen></iframe>
      </li>

      <li class="presentation h-event h-card">
        <span class="p-name">Becoming Fearlessly Definite &amp; Resourceful</span>,
        <span class="p-org"><a href="http://chefconf.opscode.com/chefconf/">ChefConf</a></span>
        <span class="p-description">[<a href="https://www.youtube.com/watch?v=QuH1dtRT_oE">video</a>, <a href="https://speakerdeck.com/josephholsten/becoming-fearlessly-definite-and-resourceful">slides</a>]</span>
        <span class="dates"><time class="dt-start" datetime="2014-04-17">2014-04-17</time></span>
        <iframe src="http://www.youtube.com/embed/QuH1dtRT_oE" width="660" height="371" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </li>


      <li class="presentation h-event h-card">
        <span class="p-name">Services in Go: from Proof-of-Concept to Production</span>,
        <span class="p-org"><a href="http://golangvan.org">GolangVan</a></span>
        <span class="p-description">[<a href="https://www.youtube.com/watch?v=XVXUYLSW_eg">video</a>, <a href="http://go-talks.appspot.com/github.com/josephholsten/prod-ready-go-svcs/prod-ready-svcs.slide#1">slides</a>]</span>
        <span class="dates"><time class="dt-start" datetime="2014-02-05">2014-02-05</time></span>
        <iframe src="http://www.youtube.com/embed/XVXUYLSW_eg" width="660" height="371" frameborder="0" allowfullscreen></iframe>
      </li>
    </ul>
  </section>

  <section class="vcalendar">
    <h2>Education</h2>
    <ul class="history vcalendar simple">

      <li class="p-education h-event h-card">
        <span class="focus">BS Computer Science</span>,
        <span class="p-org">Oklahoma State University</span>
        <span class="adr">Tulsa, <abbr title="Oklahoma" class="caps">OK</abbr></span>
        <span class="dates"><time class="dt-start" datetime="2005-09-01">2005</time> &ndash; <time class="dt-end" datetime="2010-05-01">2010</time></span>
      </li>

      <li class="p-education h-event h-card">
        <span class="focus">Cisco Network Academy</span>,
        <span class="p-org">Tulsa Technology Center</span>,
        <span class="adr">Tulsa, <abbr title="Oklahoma" class="caps">OK</abbr></span>
        <span class="dates"><time class="dt-start" datetime="2002">2002</time> &ndash; <time class="dt-end" datetime="2003">2003</time></span>
      </li>

    </ul>
  </section>


  <section>
    <h2>Interests</h2>
    <ul id="interests" class="simple">
      <li>Augmented Reality, Digital Contracts &amp; Reputation</li>
      <li>Community Organizing, Volunteering &amp; Open Source</li>
    </ul>
  </section>

  <section>
    <h2>References</h2>

    <div id="references">
      <p>Available upon request</p>
      <!-- Reference Template
        <dl class="reference h-card">
        <dt>Name</dt>
        <dd class="fn">…</dd>

        <dt>Organization</dt>
        <dd class="p-org">…</dd>

        <dt>Tel</dt>
        <dd class="tel">…</dd>
        </dl>
      -->

      <!-- <dl class="reference h-card">
        <dt>Name</dt>
        <dd class="fn">Dr. Robert Pierson</dd>

        <dt>Organization</dt>
        <dd class="p-org">Christ United Methodist Church</dd>

        <dt>Tel</dt>
        <dd class="tel">918-747-8601</dd>
        </dl> -->
    </div>
  </section>
</div>
<script>
analytics.track('jh-com.resume', { value: 1 });
</script>
