/* Reset */
.page {
  margin: 0px;
  padding: 0px;
  border-width: none;
  font-size: inherit;
  width: auto;
  background: transparent;
}

/* Color */
body
{
  background-color: rgb(197,204,211);
}
h1
{
  color: rgb(76,86,108);
}
ul
{
  background-color: white;
  border-color:rgb(217,217,217);
}
li
{
  border-top-color:rgb(217,217,217);
  background-color: transparent;
}
a
{
  color: black;
}

/* Other Bits */
body
{
  margin: 0px 10px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 17px;
}

h1
{
  padding-left: 10px;
  font-size: 1em;
}

ul
{
  padding: 0;
  margin-top:0;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 8px;
}

li
{
  list-style-type: none;
  border-top-width:1px;
  border-top-style:solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 10px;
}

.service-icons li
{
  padding-left: 38px;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

li:first-child
{
  border-top:0;
}

a
{
  display: block;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
  padding-left: 8px;
  margin-top: -8px;
  margin-right: -8px;
  margin-bottom: -12px;
  margin-left: -8px;
  text-decoration: none;
  margin-right: 10px;
  padding-right: 16px;
  background-image: url(http://assets.josephholsten.com/images/chevron.png);
  background-repeat: no-repeat;
  background-position: right;
}

input[type="search"] {
  margin-top: 1em;
  width: 100%;
  -webkit-border-radius: 8px;
}
