/* Layout */
.page {
	width: inherit;
	margin: inherit;
	padding: 0.5em 1em;
}
.xoxo h2, .section h2, h3 {
	margin-top: 0.5em;
	margin-bottom: 0px;
}
ul {
	margin: 0px;
}
.xoxo li {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

#profiles ul, ul.xoxo {
	column-count: 1;
}
