/* @override http://josephholsten.com/stylesheets/resume.css */

#pdf-download {
  position: relative;
  float: right;
}

  #pdf-download img {
    border: none;
    width: 32px;
    height: 32px;
  }

/* Type */
.section h3 .example-url{
	font-weight: normal;
	font-style: italic;
}

/* Layout */
.page {
	z-index: 0;
}

.section p {
	margin: 1em 0 0 0;
}

.section h3 {
	font-size: 1em;
	margin: 1em 0 0 0;
	position: relative;
}

	.section h3 .dates,
	.section h3 .example-url {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}

.section ul ul {
	margin: 0;
	padding: 0 0 0 1em;
}

.section abbr {
	border: 0;
}

.section .simple li {
	font-size: 1em;
	margin: 0.5em 0 0 0;
	position: relative;
}

	.section .simple .dates {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
	
	.section .simple .vcard .comment {
		color: #888;
		font-size: 80%;
	}
	
	.section .simple .vcard .comment * {
		color: #888;
	}
