body {
	background: white;
	color: black;
	font-size: 8pt;
}

.page {
	border: black 1px;
	background: white;
	width: 100%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin: 0em auto;
	padding: 0mm;
}

#pdf-download {
	display: none;
}

iframe {
	display: none;
}

.next-page {
	page-break-before: always;
}
